/*contact form css start*/
.contact_form_section {
    padding: 0px 0px 150px;
}
.contact_form_section form {
    max-width: 900px;
    margin: auto;
}
.holder_col {
    color: #cfcfcf !important;
}
.active_col {
    color: #333333 !important;
}
.single_input {
    margin-bottom: 40px;
}
.single_input > label {
    color: #070069;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
.single_input > label:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    width: calc(100% + 20px);
    height: 22px;
    background: #e8d18d;
    z-index: -1;
}
.single_input > label > span {
    position: absolute;
    color: #ff0000;
    right: -45px;
}
.single_input input:not(input[type='checkbox'], input[type='radio']),
.single_input select,
.single_input textarea {
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    border: 2px solid #070069;
    border-radius: 0px;
    resize: none;
    outline: none;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    font-family: 'Yu Mincho';
}
.single_input textarea {
    height: 300px;
    padding: 20px;
}
.single_input select {
    -webkit-appearance: none;
    padding-right: 30px;
    background-image: url(../images/select_down.png);
    background-repeat: no-repeat;
    background-position: center right 15px;
}
.custom_radio input[type='radio'],
.custom_check input[type='checkbox'],
.custom_file_upload input[type='file'] {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}
.custom_radio label {
    font-size: 20px;
    color: #0F0F0F;
    position: relative;
    line-height: 30px;
    padding-left: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 400;
}
.custom_radio label:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 2px solid #070069;
}
.custom_radio label:after {
    content: "";
    background-color: #070069;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    transition: all 0.4s;
    opacity: 0;
}
.custom_radio input[type="radio"]:checked + label:after {
    opacity: 1;
}
.address_selection {
    margin-bottom: 15px;
    display: table;
    width: 100%;
}
.address_selection span {
    display: inline-block;
    float: left;
    line-height: 30px;
    font-size: 20px;
    color: #070069;
    font-weight: 600;
}
.address_selection input, .address_selection select {
    max-width: 180px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Yu Mincho';
}
.form_buttons_container {
    display: table;
    margin: auto;
}
.form_buttons_container input {
    background-color: #070069;
    border-radius: 5px;
    height: 80px;
    padding: 0px 50px;
    border-radius: 5px;
    border: 2px solid #070069;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    transition: all 0.4s;
    font-family: 'Yu Mincho';
    font-weight: 600;
}
.form_buttons_container input:first-child {
    margin-right: 100px;
}
.form_buttons_container input:hover {
    background-color: #ffffff;
    color: #070069;
}
/*contact form css end*/

@media(max-width: 900px) {
    .contact_form_section {
        padding: 0px 0px 80px;
    }
    .single_input {
        margin-bottom: 20px;
    }
    .single_input > label {
        margin-bottom: 10px;
    }
    .single_input textarea {
        height: 180px;
    }
    .address_selection {
        margin: 0px;
    }
    .address_selection input {
        max-width: calc(100% - 40px);
    }
    .address_selection select {
        max-width: none;
        width: 100%;
        margin-left: 0px;
    }
    .form_buttons_container input:first-child {
        margin-right: 20px;
    }
    .form_buttons_container input {
        height: 60px;
        padding: 0px 20px;
        font-size: 24px;
    }
}