/* REGULAR BANNER : START */
.regular-banner{
    position: relative;
    width: 100%;
}
.regular-banner-img{
    width: 100%;
}
/* REGULAR BANNER : END */

/* REGULAR HEADING : START */
.regular-head{
    width: 100%;
    text-align: center;
}
.regular-head.margin-top-minus{
    transform: translate(0, -30px);
    padding-bottom: 80px;
}
.regular-head-wrapper{
    position: relative;
    display: inline-block;
}
.regular-head-wrapper:before,
.regular-head-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 5px;
}
.regular-head-wrapper:before{
    right: 100%;
    margin-right: 30px;
    background: linear-gradient(270deg, #d9b341, #070069);
}
.regular-head-wrapper:after{
    left: 100%;
    margin-left: 30px;
    background: linear-gradient(90deg, #d9b341, #070069);
}
.regular-head h2{
    position: relative;
    z-index: 1;
    color: #070069;
    font-size: 48px;
    line-height: 1;
}
/* REGULAR HEADING : END */

/* REGULAR HEADING--2 : START */
.regular-head2{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.regular-head2 .regular-head2-wrapper{
    position: relative;
    display: inline-block;
}
.regular-head2 .regular-head2-wrapper:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 22px;
    background: #d9b341;
}
.regular-head2 h2{
    position: relative;
    z-index: 1;
    color: #070069;
    font-size: 30px;
    line-height: 1.5;
}
/* REGULAR HEADING--2 : END */

/* PURCHASE|SALE(HOWTO PAGE) : START */

/* ==> TOPBAR */
.purchase-sale-topbar-bttns{
    margin-bottom: 130px;
}
.purchase-sale-topbar-bttns .col-inner{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.purchase-sale-topbar-bttns .bttn{
    display: inline-block;
    width: 100%;
    max-width: 400px;
    font-size: 15px;
    padding: 26px 8px;
    background: #d9b341;
    color: #070069;
    transition: all 0.4s;
}
.purchase-sale-topbar-bttns .bttn.bttn-yellow{
    background: #d9b341;
    color: #070069;
}
.purchase-sale-topbar-bttns .bttn.bttn-yellow:hover{
    background: #070069;
    color: #d9b341;
}
.purchase-sale-topbar-bttns .bttn.bttn-blue{
    background: #070069;
    color: #d9b341;
}
.purchase-sale-topbar-bttns .bttn.bttn-blue:hover{
    background: #d9b341;
    color: #070069;
}
.purchase-sale-topbar-bttns .bttn span{
    font-size: 30px;
}

/* ==> REALSTATE */
.purchase-sale-realstate{
    width: 100%;
}
.purchase-sale-realstate .col-inner{
    border-width: 3px;
    border-style: solid;
    border-color: #d9b341;
    background: #fff7e1;
    padding: 6px;
    margin-bottom: 150px;
}
.purchase-sale-realstate #SaleRealEstate .col-inner{
    border-color: #070069;
    background: #eff7ff;
}
.purchase-sale-realstate .purchase-sale-box{
    width: 100%;
    position: relative;
}
.purchase-sale-realstate .purchase-sale-box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #070069;
    user-select: none;
    pointer-events: none;
}
.purchase-sale-realstate #SaleRealEstate .purchase-sale-box:after{
    border-color: #d9b341;
}
.purchase-sale-realstate .head{
    width: 100%;
    position: relative;
    padding: 15px 0 15px 120px;
}
.purchase-sale-realstate .head:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    height: calc(100% + 10px);
    background: #d9b341;
}
.purchase-sale-realstate #SaleRealEstate .head:before{
    background: #070069;
}
.purchase-sale-realstate .head:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -13px;
    width: 100px;
    height: 10px;
    margin: auto;
    background: #070069;
}
.purchase-sale-realstate #SaleRealEstate .head:after{
    background: #d9b341;
}
.purchase-sale-realstate .head h3{
    position: relative;
    z-index: 1;
    color: #070069;
    font-size: 35px;
}
.purchase-sale-realstate #SaleRealEstate .head h3{
    color: #d9b341;
}
.purchase-sale-realstate .other-cont{
    width: 100%;
    padding: 36px 46px;
}
.purchase-sale-realstate .para{
    width: 100%;
    margin-bottom: 50px;
}
.purchase-sale-realstate .para p{
    color: #000;
    font-size: 20px;
}
.purchase-sale-realstate .custom_tabs_nav{
    display: flex;
}
.purchase-sale-realstate .custom_tabs_nav li{
    flex: 1 0 0;
}
.purchase-sale-realstate a.r-tabs-anchor{
    display: block;
    border: 3px solid #765800;
    border-radius: 10px 10px 0 0;
    color: #070069;
    font-size: 25px;
    line-height: 1;
    background: #d9b341;
    text-transform: uppercase;
    padding: 7px;
    text-align: center;
}
.purchase-sale-realstate .r-tabs-accordion-title:not(:first-child){
    margin-top: 10px;
}
.purchase-sale-realstate .r-tabs-accordion-title a.r-tabs-anchor{
    border-radius: 10px;
}
.purchase-sale-realstate #SaleRealEstate a.r-tabs-anchor{
    color: #d9b341;
    border-color: #626262;
    background: #070069;
}
.purchase-sale-realstate .r-tabs-state-active a.r-tabs-anchor {
    background: #FFF;
    border-bottom-color: #FFF;
    border-radius: 10px 10px 0 0;
}
.purchase-sale-realstate #SaleRealEstate .r-tabs-state-active a.r-tabs-anchor{
    background: #FFF;
    border-bottom-color: #FFF;
}
.purchase-sale-realstate .tabs_content_item{
    position: relative;
    border: 3px solid #765800;
    border-top: none;
    background: #FFF;
    border-radius: 0 0 10px 10px;
    padding: 50px 30px 30px;
}
.purchase-sale-realstate .tabs_content_item:before, .purchase-sale-realstate .tabs_content_item:after {
    content: "";
    position: absolute;
    left: -3px;
    top: -5px;
    height: 10px;
    width: 3px;
    background-color: #765800;
}
.purchase-sale-realstate .tabs_content_item:after {
    left: auto;
    right: -3px;
}
.purchase-sale-realstate #SaleRealEstate .tabs_content_item:before, .purchase-sale-realstate #SaleRealEstate .tabs_content_item:after {
    background-color: #626262;
}
.purchase-sale-realstate #SaleRealEstate .tabs_content_item{
    border-color: #626262;
}
.purchase-sale-realstate .tabs_content_item .flex-bx{
    display: flex;
    flex-wrap: wrap;
}
.purchase-sale-realstate .tabs_content_item .img-bx{
    width: 40%;
    background: #d9b341;
}
.purchase-sale-realstate #SaleRealEstate .tabs_content_item .img-bx{
    background: #070069;
}
.purchase-sale-realstate .tabs_content_item .cont-bx{
    width: 60%;
    padding: 30px 0 30px 30px;
}
.purchase-sale-realstate .tabs_content_item .cont-bx h4{
    color: #070069;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}
.purchase-sale-realstate .tabs_content_item .cont-bx p{
    color: #000001;
    font-size: 16px;
}
.howto-contact-content{
    width: 100%;
    padding: 30px 0;
}

/* => How To Contact */
.howto-contact-section{
    width: 100%;
    padding-bottom: 80px;
}
.howto-contact-content .content-bx{
    width: 100%;
    max-width: 450px;
    margin: auto;
    background: #e5e5e5;
    border-radius: 10px;
    padding: 18px 35px;
    min-height: 190px;
    margin-bottom: 15px;
}
.howto-contact-content .head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.howto-contact-content .head .icon{
    margin-right: 30px;
}
.howto-contact-content .head h4{
    color: #060d62;
    font-size: 28px;
}
.howto-contact-content .content-number p{
    color: #d9b341;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 0 #FFF;
}
.howto-contact-content .content-mail{
    border: 3px solid #d9b341;
    background: #FFF;
    text-align: center;
    padding: 12px;
    margin: 38px auto 0;
}
.howto-contact-content .content-mail p{
    color: #070069;
    font-size: 20px;
    line-height: 1;
}
/* PURCHASE|SALE(HOWTO PAGE) : END */

/* COMPANY PAGE : START */
.company-page-section{
    width: 100%;
}
.company-page-section .columnn-inner{
    border: 3px solid #070069;
    width: 100%;
    padding: 6px;
    margin-bottom: 150px;
}
.company-page-layer{
    position: relative;
    width: 100%;
}
.company-page-layer:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #d9b341;
    user-select: none;
    pointer-events: none
}
.company-page-layer .head{
    width: 100%;
    position: relative;
    padding: 15px 0 15px 120px;
}
.company-page-layer .head:before{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    height: calc(100% + 8px);
    background: #070069;
}
.company-page-layer .head:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9px;
    width: 100px;
    height: 10px;
    margin: auto;
    background: #d9b341;
}
.company-page-layer .head h3{
    position: relative;
    z-index: 1;
    color: #d9b341;
    font-size: 35px;
}
/* COMPANY PAGE : END */

/******************************************** RESPONSIVE ********************************************/
@media(max-width: 1166px) {
    /* REGULAR HEADING--2 : START */
    .regular-head2 .regular-head2-wrapper:before{
        height: 15px;
    }
    .regular-head2 h2{
        font-size: 24px;
    }
    /* REGULAR HEADING--2 : END */

    /* PURCHASE|SALES(HOWTO PAGE) : START */
    .howto-contact-content .head{
        justify-content: center;
    }
    .howto-contact-content .head h4{
        font-size: 24px;
    }
    .howto-contact-content .content-mail{
        max-width: 260px;
    }
    /* PURCHASE|SALES(HOWTO PAGE) : END */
}
@media(max-width: 900px) {
    /* REGULAR HEADING : START */
    .regular-head.margin-top-minus{
        padding-bottom: 50px;
    }
    .regular-head-wrapper:before, .regular-head-wrapper:after{
        width: 120px;
        height: 3px;
    }
    .regular-head-wrapper:before{
        margin-right: 15px;
    }
    .regular-head-wrapper:after{
        margin-left: 15px;
    }
    /* REGULAR HEADING : END */

    /* REGULAR HEADING--2 : START */
    .regular-head h2{
        font-size: 24px;
    }
    .regular-head2 .regular-head2-wrapper:before{
        height: 12px;
    }
    .regular-head2 h2{
        font-size: 20px;
    }
    /* REGULAR HEADING--2 : END */

    /* PURCHASE|SALES(HOWTO PAGE) : START */
    .purchase-sale-realstate .col-inner{
        border-width: 1px;
        margin-bottom: 80px;
    }
    .purchase-sale-realstate .purchase-sale-box:after{
        border-width: 1px;
    }
    .purchase-sale-realstate .head:before{
        top: -6px;
        left: -6px;
        right: -6px;
    }
    .purchase-sale-realstate .head:after{
        width: 60px;
        height: 5px;
        left: -6px;
    }
    .purchase-sale-realstate .head{
        padding-left: 80px;
    }
    .purchase-sale-realstate .head h3{
        font-size: 24px;
    }
    .purchase-sale-realstate .other-cont{
        padding: 20px 30px;
    }
    .purchase-sale-realstate .para{
        margin-bottom: 30px;
    }
    .purchase-sale-realstate .para p{
        font-size: 18px;
    }
    .purchase-sale-realstate .custom_tabs_nav a, .purchase-sale-realstate a.r-tabs-anchor{
        font-size: 20px;
        border-width: 2px;
    }
    .purchase-sale-realstate .tabs_content_item{
        padding: 30px 15px 15px;
        border-width: 2px;
    }
    .purchase-sale-realstate .tabs_content_item:before, .purchase-sale-realstate .tabs_content_item:after {
        width: 2px;
    }
    .purchase-sale-realstate .tabs_content_item:before {
        left: -2px;
    }
    .purchase-sale-realstate .tabs_content_item:after {
        right: -2px;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx{
        padding: 15px 0 15px 15px;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx h4{
        font-size: 20px;
    }
    .howto-contact-content .content-bx{
        padding: 30px 20px;
        min-height: 160px;
    }
    .howto-contact-content .head .icon{
        margin-right: 15px;
        max-width: 40px;
    }
    .howto-contact-content .head h4{
        font-size: 20px;
    }
    .howto-contact-content .content-number p{
        font-size: 32px;
    }
    .howto-contact-content .content-mail{
        margin-top: 25px;
        border-width: 2px;
    }
    .howto-contact-content .content-mail p{
        font-size: 16px;
    }
    /* PURCHASE|SALES(HOWTO PAGE) : END */
}

@media(max-width: 675px) {
    /* REGULAR HEADING : START */
    .regular-head h2{
        font-size: 20px;
    }
    .regular-head-wrapper:before,
    .regular-head-wrapper:after{
        width: 40%;
        top: auto;
        bottom: -15px;
        margin: 0;
    }
    .regular-head-wrapper:before{
        right: 50%;
    }
    .regular-head-wrapper:after{
        left: 50%;
    }
    /* REGULAR HEADING : END */

    /* PURCHASE|SALES(HOWTO PAGE) : START */
    .purchase-sale-topbar-bttns{
        margin-bottom: 50px;
    }
    .purchase-sale-topbar-bttns .columnn{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .purchase-sale-topbar-bttns .bttn{
        padding: 15px 8px;
    }
    .purchase-sale-topbar-bttns .bttn span{
        font-size: 24px;
    }

    .purchase-sale-realstate .col-inner{
        margin-bottom: 50px;
    }
    .purchase-sale-realstate .head{
        padding-left: 50px;
    }
    .purchase-sale-realstate .head:after{
        height: 3px;
        width: 30px;
    }
    .purchase-sale-realstate .head h3{
        font-size: 20px;
    }
    .purchase-sale-realstate .other-cont{
        padding: 20px 15px;
    }
    .purchase-sale-realstate .para p{
        font-size: 16px;
    }
    .purchase-sale-realstate .custom_tabs_nav a, .purchase-sale-realstate a.r-tabs-anchor{
        font-size: 18px;
    }
    .purchase-sale-realstate .tabs_content_item{
        padding: 10px;
    }
    .purchase-sale-realstate .tabs_content_item .img-bx{
        width: 100%;
        min-height: 150px;
        margin-bottom: 15px;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx{
        width: 100%;
        padding: 0;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx h4{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .howto-contact-content .columnn{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .howto-contact-content .head h4{
        font-size: 18px;
    }
    /* PURCHASE|SALES(HOWTO PAGE) : END */
}