/*fonts css start*/
@font-face {
    font-family: 'Yu Mincho';
    src: url('../fonts/YuMincho-Demibold.eot');
    src: url('../fonts/YuMincho-Demibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YuMincho-Demibold.woff2') format('woff2'),
        url('../fonts/YuMincho-Demibold.woff') format('woff'),
        url('../fonts/YuMincho-Demibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Mincho';
    src: url('../fonts/YuMincho-Regular.eot');
    src: url('../fonts/YuMincho-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuMincho-Regular.woff2') format('woff2'),
    url('../fonts/YuMincho-Regular.woff') format('woff'),
    url('../fonts/YuMincho-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*fonts css end*/

/*common css start*/
html,body{
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Yu Mincho';
}
body.no_scroll {
    overflow: hidden;
}
a, button, input[type=submit], select{
    cursor: pointer;
}
a, a:hover, a:focus,
button, button:hover, button:focus,
input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
.cpc, .cpc-675, .cpc-1166 {
    display: block !important;
}
.csp, .csp-675, .csp-1166 {
    display: none !important;
}
@media (max-width: 1166px){
    .cpc-1166{
        display: none !important;
    }
    .csp-1166{
        display: block !important;
    }
}
@media (max-width: 900px){
    .cpc{
        display: none !important;
    }
    .csp{
        display: block !important;
    }
}
@media (max-width: 675px){
    .cpc-675{
        display: none !important;
    }
    .csp-675{
        display: block !important;
    }

}
/*common css end*/

/*common grid css start*/
.custom_container_fluid{
    width: 100%;
    padding: 0 15px;
}
.custom_container{
    width: 100%;
    max-width: 1030px;
    margin: auto;
    padding: 0 15px;
}
.custom_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.custom_row_reverse {
    flex-direction: row-reverse;
}
.custom_col_3 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.custom_col_4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
.custom_col_6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.custom_col_12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
/*common grid css end*/

/*page pre-loader css start*/
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    background-color: #fff;
}
.loader-wrapper .loader {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgba(62, 174, 230, 0.2);
    border-right: 3px solid rgba(62, 174, 230, 0.2);
    border-bottom: 3px solid rgba(62, 174, 230, 0.2);
    border-left: 3px solid rgba(62, 174, 230, 0.8);
    -webkit-animation: loaderSpin 1.5s infinite linear;
    animation: loaderSpin 1.5s infinite linear;
}
@-webkit-keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page pre-loader css end*/

/*animations css start*/
.io {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
}
.io.move {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}
.io.fade {
    opacity: 0;
}
.io.lr {
    -webkit-transform: translate3d(-80px, 0, 0);
    transform: translate3d(-80px, 0, 0);
}
.io.rl {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0);
}
.io.upL {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
}
.io.upS {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.downL {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
.io.downS {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
.io.scaleUp {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.io.scaleDown {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.io.rotateL {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.io.rotateR {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.io.delay.delay1 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}
.io.delay a {
    -webkit-transition: none;
    transition: none;
}
.io.delay .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.delay.delay1 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}
.io.delay.move .delay_child {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
@media (max-width: 900px) {
    .io.delay.delay1 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay2 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay3 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay4 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay1 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay2 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay3 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay4 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
}
/*animations css end*/

/*main css start*/
.main{
    width: 100%;
    overflow-x: hidden;
    padding-top: 100px;
}
/*main css end*/

/*header css start*/
.site_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #d9b341;
    padding: 14px 0;
    z-index: 9999;
}
.site_header .custom_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.site_header .header_logo{
    position: relative;
    z-index: 1;
}
.site_header .custom_navbar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.site_header .custom_navbar ul li:not(:first-child) {
    margin-left: 85px;
}
.site_header .custom_navbar ul li a {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.navbar_toggler {
    padding: 0;
    height: 30px;
    width: 30px;
    border: none;
    outline: none !important;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    margin: auto 0px auto auto;
    z-index: 9999;
}
.navbar_toggler .navbar_toggler_inner,
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    width: 30px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
}
header.site_header.home_page_nav .navbar_toggler .navbar_toggler_inner,
header.site_header.home_page_nav .navbar_toggler .navbar_toggler_inner:after,
header.site_header.home_page_nav .navbar_toggler .navbar_toggler_inner:before {
    background-color: #ffffff;
}
header.site_header.home_page_nav .navbar_toggler.open_menu .navbar_toggler_inner,
header.site_header.home_page_nav .navbar_toggler.open_menu .navbar_toggler_inner:after,
header.site_header.home_page_nav .navbar_toggler.open_menu .navbar_toggler_inner:before,
header.site_header.home_page_nav.fixed_header .navbar_toggler .navbar_toggler_inner,
header.site_header.home_page_nav.fixed_header .navbar_toggler .navbar_toggler_inner:after,
header.site_header.home_page_nav.fixed_header .navbar_toggler .navbar_toggler_inner:before {
    background-color: #00689E;
}
.navbar_toggler .navbar_toggler_inner{
    transition: top 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    display: block;
    content: "";
}
.navbar_toggler .navbar_toggler_inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
    top: -10px;
}
.navbar_toggler .navbar_toggler_inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    bottom: -10px;
}
.navbar_toggler.open_menu .navbar_toggler_inner {
    transition: top 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(45deg);
    top: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
    opacity: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(-90deg);
}
/*header css end*/

/*footer css start*/
.site_footer {
    background-color: #d9b341;
    padding: 20px 0 0;
}
.site_footer .custom_container {
    width: 100%;
    max-width: 950px;
    padding: 0 15px;
    margin: auto;
}
.site_footer .footer_text {
    background-color: #070069;
    padding: 50px 0;
}
.site_footer .footer_text img {
    display: block;
    margin: 0 auto 30px;
}
.site_footer p, .site_footer a {
    font-size: 20px;
    color: #fff;
    display: block;
    font-weight: 500;
    line-height: 32px;
}
.site_footer .custom_row {
    justify-content: space-between;
}
.site_footer .custom_row .custom_col {
    width: 100%;
    max-width: 402px;
    padding: 0 15px;
}
.footer_table {
    display: table;
    width: 100%;
}
.footer_table_row {
    display: table-row;
}
.footer_table_th, .footer_table_td {
    display: table-cell;
}
.footer_table_th p {
    min-width: 100px;
}
.footer_conpyright p {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
/*footer css end*/

/*faq section css start*/
.faq_section {
    padding-bottom: 120px;
}
.faq_section .blue_title_bg .heading_with_bg h3 {
    color: #fff;
}
.faq_content {
    padding: 30px;
    background-color: #fff;
}
.faq_content h4 {
    background-color: #d9b341;
    border: 3px solid #d9b341;
    margin: 0px !important;
    border-radius: 0px;
    outline: none;
    padding: 8px 65px !important;
    line-height: 26px;
    font-size: 25px !important;
    color: #ffffff;
    position: relative !important;
}
.faq_content h4:before {
    content: "Q";
    line-height: 25px;
    font-size: 25px !important;
    color: #ffffff;
    position: absolute;
    left: 25px;
    font-family: 'Yu Mincho';
    top: 8px;
}
.faq_content .answer_content + h4 {
    margin-top: 36px !important;
}
.faq_content h4 span.ui-accordion-header-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    background: none !important;
}
.faq_content h4 span.ui-accordion-header-icon:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 1px;
    margin: auto;
    width: 100%;
    background-color: #ffffff;
    transform: rotate(90deg);
    transition: all 0.4s;
}
.faq_content h4.ui-accordion-header-active span.ui-accordion-header-icon:before {
    transform: rotate(0deg);
}
.faq_content h4 span.ui-accordion-header-icon:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 1px;
    margin: auto;
    width: 100%;
    background-color: #ffffff;
}
.faq_content.ui-accordion .answer_content.ui-accordion-content {
    border: 3px solid #d9b341;
    border-radius: 0px !important;
}
.answer_content p {
    padding: 0px 35px 0px 30px !important;
    font-family: 'Yu Mincho';
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    position: relative;
}
.faq_content p:before {
    content: "A";
    line-height: 20px;
    font-size: 20px !important;
    color: #070069;
    position: absolute;
    left: -6px;
    font-family: 'Yu Mincho';
    top: 0px;
}
/*faq section css end*/

/*responsive css start*/
@media(max-width: 1166px) {
    /*main css start*/
    .main{
        padding-top: 84px;
    }
    /*main css end*/
    /*header & footer css start*/
    .site_footer .custom_container,
    .site_header .custom_container {
        max-width: 900px;
    }
    .site_footer .footer_text img,
    .site_header a.header_logo img {
        max-width: 280px;
    }
    .site_header .custom_navbar ul li:not(:first-child) {
        margin-left: 30px;
    }
    .site_footer p, .site_footer a {
        font-size: 18px;
        line-height: 30px;
    }
    /*header & footer css end*/
    /*faq section css start*/
    .faq_section {
        padding-bottom: 70px;
    }
    /*faq section css start*/
}
@media(max-width: 1024px) {
    /*faq section css start*/
    .faq_content h4 {
        font-size: 20px !important;
    }
    .faq_content h4:before {
        line-height: 20px;
        font-size: 20px !important;
        left: 28px;
        top: 10px;
    }
    .answer_content p {
        padding: 0px 0px 0px 30px !important;
    }
    /*faq section css end*/
}
@media(max-width: 900px) {
    /*header css start*/
    nav.custom_navbar {
        position: fixed;
        top: 0;
        right: -280px;
        bottom: 0;
        width: 280px;
        background-color: #d9b341;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.4s;
    }
    nav.custom_navbar.navbar_animate {
        right: 0;
    }
    .site_header .custom_navbar ul {
        display: block;
    }
    .site_header .custom_navbar ul li {
        margin: 0 !important;
        text-align: center;
        padding: 10px 0;
    }
    .site_header .custom_navbar ul li a {
        font-size: 26px;
    }
    /*header css end*/
    /*footer css start*/
    .site_footer .custom_row {
        flex-direction: column;
    }
    .site_footer .custom_row .custom_col {
        max-width: 292px;
        padding: 10px 0;
        margin: auto;
    }
    .site_footer p, .site_footer a {
        font-size: 16px;
    }
    .site_footer .footer_text {
        padding: 30px 0;
    }
    .footer_table_th p {
        min-width: 74px;
    }
    .site_footer .footer_text img {
        margin: 0 auto 10px;
    }
    /*footer css end*/
    /*faq section css start*/
    .faq_section {
        padding-bottom: 40px;
    }
    .faq_content {
        padding: 20px;
    }
    .faq_content .answer_content + h4 {
        margin-top: 25px !important;
    }
    /*faq section css start*/
}
@media (max-width: 675px){
    /*main css start*/
    .main{
        padding-top: 60px;
    }
    /*main css end*/
    /*header css start*/
    .site_header {
        padding: 10px 0;
    }
    .site_header a.header_logo img {
        max-width: 200px;
    }
    /*header css end*/
    /*footer css start*/
    .footer_conpyright p {
        padding: 15px;
    }
    /*footer css end*/
    /*faq section css start*/
    .faq_content {
        padding: 15px;
    }
    .faq_content h4 {
        padding: 8px 40px !important;
        font-size: 18px !important;
    }
    .faq_content h4:before {
        line-height: 18px;
        font-size: 18px !important;
        left: 12px;
        top: 12px;
    }
    .faq_content .answer_content + h4 {
        margin-top: 15px !important;
    }
    .answer_content p {
        padding: 0px !important;
    }
    .faq_content p:before {
        line-height: 18px;
        font-size: 18px !important;
        left: -22px;
        top: 2px;
    }
    .faq_content h4 span.ui-accordion-header-icon {
        right: 10px;
    }
    /*faq section css end*/
}
/*responsive css end*/