/* regular banner css start */
.regular-banner{
    position: relative;
    width: 100%;
}
.regular-banner-img{
    width: 100%;
}
/* regular banner css end */

/* regular head 1 css start */
.regular-head{
    width: 100%;
    text-align: center;
}
.regular-head.margin-top-minus{
    transform: translate(0, -30px);
    padding-bottom: 80px;
}
.regular-head-wrapper{
    position: relative;
    display: inline-block;
}
.regular-head-wrapper:before,
.regular-head-wrapper:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 5px;
}
.regular-head-wrapper:before{
    right: 100%;
    margin-right: 30px;
    background: linear-gradient(270deg, #d9b341, #070069);
}
.regular-head-wrapper:after{
    left: 100%;
    margin-left: 30px;
    background: linear-gradient(90deg, #d9b341, #070069);
}
.regular-head h2{
    position: relative;
    z-index: 1;
    color: #070069;
    font-size: 48px;
    line-height: 1;
}
/* regular head 1 css end */

/* regular head 2 css start */
.underline_heading{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.underline_heading .custom_container{
    position: relative;
}
.underline_heading h2 span{
    position: relative;
    display: inline-block;
}
.underline_heading h2 span:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    width: calc(100% + 20px);
    height: 22px;
    background: #e8d18d;
    z-index: -1;
}
.underline_heading h2{
    position: relative;
    z-index: 1;
    color: #070069;
    font-size: 30px;
    line-height: 1.5;
}
/* regular head 2 css end */

/* how-to page css start */
.purchase-sale-topbar-bttns{
    margin-bottom: 130px;
}
.purchase-sale-topbar-bttns .col-inner{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.purchase-sale-topbar-bttns .bttn{
    display: inline-block;
    width: 100%;
    max-width: 400px;
    font-size: 15px;
    padding: 26px 8px;
    background: #d9b341;
    color: #070069;
    transition: all 0.4s;
}
.purchase-sale-topbar-bttns .bttn.bttn-yellow{
    background: #d9b341;
    color: #070069;
}
.purchase-sale-topbar-bttns .bttn.bttn-yellow:hover{
    background: #070069;
    color: #d9b341;
}
.purchase-sale-topbar-bttns .bttn.bttn-blue{
    background: #070069;
    color: #d9b341;
}
.purchase-sale-topbar-bttns .bttn.bttn-blue:hover{
    background: #d9b341;
    color: #070069;
}
.purchase-sale-topbar-bttns .bttn span{
    font-size: 30px;
}

.purchase-sale-realstate{
    width: 100%;
}
.realstate-layer{
    margin-bottom: 150px;
}
.yellow_title_bg{
    border-width: 3px;
    border-style: solid;
    border-color: #d9b341;
    background: #fff7e1;
    padding: 6px;
}
.blue_inner_border{
    width: 100%;
    position: relative;
}
.blue_title_bg{
    border-width: 3px;
    border-style: solid;
    border-color: #070069;
    background: #fff7e1;
    padding: 6px;
}
.yellow_inner_border{
    width: 100%;
    position: relative;
}
.blue_inner_border:after, .yellow_inner_border:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    user-select: none;
    pointer-events: none;
}
.blue_inner_border:after{
    border-color: #070069;
}
.yellow_inner_border:after{
    border-color: #d9b341;
}
.heading_with_bg{
    width: 100%;
    position: relative;
    padding: 15px 0 15px 120px;
}
.heading_with_bg:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    height: calc(100% + 10px);
}
.yellow_title_bg .heading_with_bg:before{
    background: #d9b341;
}
.blue_title_bg .heading_with_bg:before{
    background: #070069;
}

.heading_with_bg:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 100px;
    height: 10px;
    margin: auto;
}
.yellow_title_bg .heading_with_bg:after{
    background: #070069;
}
.blue_title_bg .heading_with_bg:after{
    background: #d9b341;
}

.heading_with_bg h3{
    position: relative;
    z-index: 1;
    font-size: 35px;
}
.yellow_title_bg .heading_with_bg h3{
    color: #070069;
}
.blue_title_bg .heading_with_bg h3{
    color: #d9b341;
}
.purchase-sale-realstate .other-cont{
    width: 100%;
    padding: 36px 46px;
}
.purchase-sale-realstate .para{
    width: 100%;
    margin-bottom: 50px;
}
.purchase-sale-realstate .para p{
    color: #000;
    font-size: 20px;
}
.purchase-sale-realstate .custom_tabs_nav{
    display: flex;
}
.purchase-sale-realstate .custom_tabs_nav li{
    flex: 1 0 0;
}
.purchase-sale-realstate a.r-tabs-anchor{
    display: block;
    border: 3px solid #765800;
    border-radius: 10px 10px 0 0;
    color: #070069;
    font-size: 25px;
    line-height: 1;
    background: #d9b341;
    text-transform: uppercase;
    padding: 7px;
    text-align: center;
}
.purchase-sale-realstate .r-tabs-accordion-title:not(:first-child){
    margin-top: 10px;
}
.purchase-sale-realstate .r-tabs-accordion-title a.r-tabs-anchor{
    border-radius: 10px;
}
.purchase-sale-realstate #SaleRealEstate a.r-tabs-anchor{
    color: #d9b341;
    border-color: #626262;
    background: #070069;
}
.purchase-sale-realstate .r-tabs-state-active a.r-tabs-anchor {
    background: #FFF;
    border-bottom-color: #FFF;
    border-radius: 10px 10px 0 0;
}
.purchase-sale-realstate #SaleRealEstate .r-tabs-state-active a.r-tabs-anchor{
    background: #FFF;
    border-bottom-color: #FFF;
}
.purchase-sale-realstate .tabs_content_item{
    position: relative;
    border: 3px solid #765800;
    border-top: none;
    background: #FFF;
    border-radius: 0 0 10px 10px;
    padding: 50px 30px 30px;
}
.purchase-sale-realstate .tabs_content_item:before, .purchase-sale-realstate .tabs_content_item:after {
    content: "";
    position: absolute;
    left: -3px;
    top: -5px;
    height: 10px;
    width: 3px;
    background-color: #765800;
}
.purchase-sale-realstate .tabs_content_item:after {
    left: auto;
    right: -3px;
}
.purchase-sale-realstate #SaleRealEstate .tabs_content_item:before, .purchase-sale-realstate #SaleRealEstate .tabs_content_item:after {
    background-color: #626262;
}
.purchase-sale-realstate #SaleRealEstate .tabs_content_item{
    border-color: #626262;
}
.purchase-sale-realstate .tabs_content_item .flex-bx{
    display: flex;
    flex-wrap: wrap;
}
.purchase-sale-realstate .tabs_content_item .img-bx{
    width: 40%;
    background: #d9b341;
}
.purchase-sale-realstate #SaleRealEstate .tabs_content_item .img-bx{
    background: #070069;
}
.purchase-sale-realstate .tabs_content_item .cont-bx{
    width: 60%;
    padding: 30px 0 30px 30px;
}
.purchase-sale-realstate .tabs_content_item .cont-bx h4{
    color: #070069;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}
.purchase-sale-realstate .tabs_content_item .cont-bx p{
    color: #000001;
    font-size: 16px;
}
.howto-contact-content{
    width: 100%;
    padding: 30px 0;
}

.howto-contact-section{
    width: 100%;
    padding-bottom: 80px;
}
.howto-contact-content .content-bx {
    width: 100%;
    max-width: 450px;
    margin: auto;
    background: #e5e5e5;
    border-radius: 10px;
    padding: 18px 35px;
    min-height: 200px;
    margin-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.howto-contact-content .head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.howto-contact-content .head .icon{
    margin-right: 30px;
}
.howto-contact-content .head h4{
    color: #060d62;
    font-size: 28px;
}
.howto-contact-content .content-number{
    text-align: center;
}
.howto-contact-content .content-number a{
    display: inline-block;
    color: #d9b341;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 0 #FFF;
    transition: all 0.4s;
}
.howto-contact-content .content-number a:hover,
.howto-contact-content .content-number a:focus{
    color: #070069;
}
.howto-contact-content .content-mail{
    display: block;
    border: 3px solid #d9b341;
    background: #FFF;
    text-align: center;
    padding: 12px;
    margin: 38px auto 0;
    transition: all 0.4s;
}
.howto-contact-content .content-mail:hover,
.howto-contact-content .content-mail:focus{
    background-color: #d9b341;
}
.howto-contact-content .content-mail p{
    color: #070069;
    font-size: 20px;
    line-height: 1;
}
/* how-to page css end */

/* company page css start */
.company-page-section{
    width: 100%;
}
.company-page-layer{
    width: 100%;
    margin-bottom: 50px;
}
.company-page-layer .blue_title_bg{
    background: url('../images/company-layer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.company-page-layer .heading_with_bg h3{
    color: #FFF;
}
.company-page-layer .other-content{
    padding: 40px 30px;
}
.company-page-layer h4{
    color: #000;
    font-size: 35px;
    text-shadow: 8px 8px 8px rgba(56, 56, 56, 0.9);
    text-align: center;
}
.company-page-layer h4 span{
    color: #0000ff;
}
.company-page-layer.pride-content .underline_heading h2{
    text-align: left;
    padding: 0 30px 0 50px;
    font-weight: 600;
}
.company-page-layer.pride-content .underline_heading h2:before{
    content: '一、';
    font-size: 22px;
    color: #070069;
    position: absolute;
    top: 12px;
    left: 10px;
    line-height: 1;
}
.company-page-layer p{
    color: #000;
    font-size: 20px;
    line-height: 1.5;
    padding: 0 20px;
    margin-bottom: 40px;
}
.company-page-layer .table-wrapper{
    width: 100%;
    overflow-x: auto;
}
.company-page-layer table{
    border: none;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    color: #000;
}
.company-page-layer table th,
.company-page-layer table td{
    border: 1px solid #d9b341;
    padding: 10px 50px;
}
.company-page-layer table tr:first-child th,
.company-page-layer table tr:first-child td{
    border-top: 0;
}
.company-page-layer table th:first-child,
.company-page-layer table td:first-child{
    text-align: center;
}
/* company page css end */

/* responsive css start */
@media(max-width: 1166px) {
    /* regular head 1 css start */
    .regular-head h2{
        font-size: 32px;
    }
    /* regular head 1 css start */

    /* regular head 2 css start */
    .underline_heading h2{
        font-size: 24px;
    }
    .underline_heading h2 span:before{
        height: 15px;
    }
    /* regular head 2 css end */

    /* how-to page css start */
    .howto-contact-content .head{
        justify-content: center;
    }
    .howto-contact-content .head h4{
        font-size: 24px;
    }
    .howto-contact-content .content-mail{
        max-width: 260px;
    }
    /* how-to page css end */
}
@media(max-width: 900px) {
    /* regular head 1 css start */
    .regular-head.margin-top-minus{
        padding-bottom: 50px;
    }
    .regular-head-wrapper:before, .regular-head-wrapper:after{
        width: 120px;
        height: 3px;
    }
    .regular-head-wrapper:before{
        margin-right: 15px;
    }
    .regular-head-wrapper:after{
        margin-left: 15px;
    }
    .regular-head h2{
        font-size: 24px;
    }
    /* regular head 1 css end */

    /* regular head 2 css start */
    .underline_heading h2{
        font-size: 20px;
    }
    /* regular head 2 css end */

    /* how-to page css start */
    .howto-contact-section{
        padding-bottom: 40px;
    }
    .realstate-layer{
        margin-bottom: 80px;
    }
    .yellow_title_bg, .blue_title_bg{
        border-width: 1px;
    }
    .blue_inner_border:after, .yellow_inner_border:after{
        border-width: 1px;
    }
    .heading_with_bg:before{
        top: -6px;
        left: -6px;
        right: -6px;
    }
    .heading_with_bg{
        padding-left: 80px;
    }
    .heading_with_bg:after{
        width: 60px;
        height: 5px;
        left: -7px;
    }
    .heading_with_bg h3{
        font-size: 24px;
    }
    .purchase-sale-realstate .other-cont{
        padding: 20px 30px;
    }
    .purchase-sale-realstate .para{
        margin-bottom: 30px;
    }
    .purchase-sale-realstate .para p{
        font-size: 18px;
    }
    .purchase-sale-realstate .custom_tabs_nav a, .purchase-sale-realstate a.r-tabs-anchor{
        font-size: 20px;
        border-width: 2px;
    }
    .purchase-sale-realstate .tabs_content_item{
        padding: 30px 15px 15px;
        border-width: 2px;
    }
    .purchase-sale-realstate .tabs_content_item:before, .purchase-sale-realstate .tabs_content_item:after {
        width: 2px;
    }
    .purchase-sale-realstate .tabs_content_item:before {
        left: -2px;
    }
    .purchase-sale-realstate .tabs_content_item:after {
        right: -2px;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx{
        padding: 15px 0 15px 15px;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx h4{
        font-size: 20px;
    }
    .howto-contact-content .content-bx{
        padding: 30px 20px;
        min-height: 185px;
    }
    .howto-contact-content .head .icon{
        margin-right: 15px;
        max-width: 40px;
    }
    .howto-contact-content .head h4{
        font-size: 20px;
    }
    .howto-contact-content .content-number a{
        font-size: 32px;
    }
    .howto-contact-content .content-mail{
        margin-top: 25px;
        border-width: 2px;
    }
    .howto-contact-content .content-mail p{
        font-size: 16px;
    }
    /* how-to page css end */
}

@media(max-width: 675px) {
    /* regular head 1 css start */
    .regular-head h2{
        font-size: 20px;
    }
    .regular-head-wrapper:before,
    .regular-head-wrapper:after{
        width: 40%;
        top: auto;
        bottom: -15px;
        margin: 0;
    }
    .regular-head-wrapper:before{
        right: 50%;
    }
    .regular-head-wrapper:after{
        left: 50%;
    }
    /* regular head 1 css end */

    /* regular head 2 css start */
    .underline_heading h2{
        font-size: 18px;
    }
    /* regular head 2 css end */

    /* how-to page css start */
    .purchase-sale-topbar-bttns{
        margin-bottom: 50px;
    }
    .purchase-sale-topbar-bttns .columnn{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .purchase-sale-topbar-bttns .bttn{
        padding: 15px 8px;
    }
    .purchase-sale-topbar-bttns .bttn span{
        font-size: 24px;
    }

    .realstate-layer{
        margin-bottom: 50px;
    }
    .heading_with_bg{
        padding-left: 50px;
    }
    .heading_with_bg:after{
        height: 3px;
        width: 30px;
    }
    .heading_with_bg h3{
        font-size: 20px;
    }
    .purchase-sale-realstate .other-cont{
        padding: 20px 15px;
    }
    .purchase-sale-realstate .para p{
        font-size: 16px;
    }
    .purchase-sale-realstate .custom_tabs_nav a, .purchase-sale-realstate a.r-tabs-anchor{
        font-size: 18px;
    }
    .purchase-sale-realstate .tabs_content_item{
        padding: 10px;
    }
    .purchase-sale-realstate .tabs_content_item .img-bx{
        width: 100%;
        min-height: 150px;
        margin-bottom: 15px;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx{
        width: 100%;
        padding: 0;
    }
    .purchase-sale-realstate .tabs_content_item .cont-bx h4{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .howto-contact-content .columnn{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .howto-contact-content .head h4{
        font-size: 18px;
    }
    /* how-to page css end */
}
/* responsive css end */